images/waterfall.jpeg filter=lfs diff=lfs merge=lfs -text
images/chriserin.jpg filter=lfs diff=lfs merge=lfs -text
images/clemsongame.jpeg filter=lfs diff=lfs merge=lfs -text
images/doggo.jpeg filter=lfs diff=lfs merge=lfs -text
images/mountain.jpg filter=lfs diff=lfs merge=lfs -text
images/mustache.jpeg filter=lfs diff=lfs merge=lfs -text
images/sunset.png filter=lfs diff=lfs merge=lfs -text
images/vtrun.jpeg filter=lfs diff=lfs merge=lfs -text
images/wrastlin.jpeg filter=lfs diff=lfs merge=lfs -text
images/beach.jpg filter=lfs diff=lfs merge=lfs -text
images/boat.png filter=lfs diff=lfs merge=lfs -text
images/niskashirt.jpeg filter=lfs diff=lfs merge=lfs -text
images/tite.jpeg filter=lfs diff=lfs merge=lfs -text
videos/vtrun.mp4 filter=lfs diff=lfs merge=lfs -text
videos/bristolflag.mp4 filter=lfs diff=lfs merge=lfs -text
videos/carride.mp4 filter=lfs diff=lfs merge=lfs -text
videos/market.mov filter=lfs diff=lfs merge=lfs -text
videos/riverday.mp4 filter=lfs diff=lfs merge=lfs -text
videos/snowboarding.mp4 filter=lfs diff=lfs merge=lfs -text
videos/GreeceTrip.mp4 filter=lfs diff=lfs merge=lfs -text
videos/capsvid.mp4 filter=lfs diff=lfs merge=lfs -text
videos/donkeys.mov filter=lfs diff=lfs merge=lfs -text
videos/greecebuoy.mov filter=lfs diff=lfs merge=lfs -text
