* {
    box-sizing: border-box;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1182px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1182px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -591px;   /* 50% */
  }
}

/* Add a gray background color with some padding */
body {
    font-family: 'Quattrocento', Verdana, sans-serif;
    padding: 20px;
    background: #f1f1f1;
}

.navbar-brand {
    font-family: 'Aldrich', sans-serif;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

p .popLink {
    color: #333;
    text-decoration: none;
    background: -webkit-linear-gradient(transparent 90%, #00c624 10%);
    box-shadow: inset 0 0 0 0 #00c624;
    -webkit-transition: box-shadow ease 1s;
    -moz-transition: box-shadow ease 1s;
    transition: box-shadow ease 1s;
}

.popLink:hover {
    text-decoration: none;
    color:#333;
}
p .popLink:hover {
    text-decoration: none;
    color:#f1f1f1;
    box-shadow:inset 0 -100px 0 0 #00c624;
}

li .popLink {
    color: #333;
    text-decoration: none;
    background: -webkit-linear-gradient(transparent 90%, #00c624 10%);
    box-shadow: inset 0 0 0 0 #00c624;
    -webkit-transition: box-shadow ease 1s;
    -moz-transition: box-shadow ease 1s;
    transition: box-shadow ease 1s;
}

.popLink:hover {
    text-decoration: none;
    color:#333;
}
li .popLink:hover {
    text-decoration: none;
    color:#f1f1f1;
    box-shadow:inset 0 -100px 0 0 #00c624;
}

.vertical-center {
    text-align: center;
}

/* Header */
.header {
    height: 200px;
    color: #333;
    text-shadow: #444 1px 1px;
    background: transparent;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #333;
    margin-top: 20px;
}

.navbar {
    border-radius: 25px 25px 25px 25px;
}


#content-nav a:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)
    color: #FC7918;
}

#content-nav a {
    scale: 1.0;
    color: #FFA059;
}

#content-nav {
    position: fixed;
    top: 14%;
    font-size: 14px;
    width: 15%;
    background: radial-gradient(rgba(115, 0, 0, 0.5), rgba(115, 0, 0, 0.7));
    -webkit-box-shadow: 0px 16px 12px -8px black;
    -moz-box-shadow: 0px 16px 12px -8px black;
    box-shadow: 0px 16px 12px -8px black;
      -webkit-transform: rotateX(15deg);
     -moz-transform: rotateX(15deg);
      -ms-transform: rotateX(15deg);
          transform: rotateX(15deg);
}

@media only screen and (max-width: 991px) {
    #leftrow {
        display: none;
    }
    #content-nav {
        display: none;
    }
}

.showbar {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: black; /*linear-gradient(to right, rgba(84, 84, 84, 1), rgba(0,0,0,1));*/
    width: 100%;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid #333;
}

button {
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba( 255, 255, 255, 0.9 );
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);

  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

button:hover {
  top: -10px;
  box-shadow: 0px 10px 10px rgba( 255, 255, 255, 0.9 ) !important;
  
  -webkit-transform: rotateX(30deg) !important;
     -moz-transform: rotateX(30deg) !important;
      -ms-transform: rotateX(30deg) !important;
          transform: rotateX(30deg) !important;
}


#xortab {
    font-family: "Courier New", Courier;
    border-collapse: collapse;
    width: 100%;
}

#xortab td, #xortab th {
    border: 1px solid #ddd;
    padding: 8px;
}

#xortab tr:nth-child(even){background-color: #f2f2f2;}

#xortab tr:hover {background-color: #ddd;}

#xortab th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #216FED;
    color: white;
}

li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
    list-style-type: decimal !important;
}

